<%- include("partials/header.ejs") %>

<div class="mainContainer">
  <div class="mainHeader">
    <h2 class="date"><span class="date"><%= today %></span></h2>
    <h1><%= title %> List</h1>
    <div class="mainHeaderBtns">
      <form action="/createNewList" method="POST" class="createNewList">
        <button type="submit" name="createNewListBtn" class="createNewListBtn">Create New List</button>
      </form>
      <form action="/logout" method="POST" class="logoutForm">
        <button type="submit" class="logout">Log Out</button>
      </form>
    </div>
  </div>

  <div class="midContainer">
    <div class="tasksContainer">
          <div class="tasks">
            <% if(tasks.length===0){ %>

            <p class="noAdded">No Added Tasks</p>
            <%} else {%> <% tasks.forEach(function(item){{ %>

            <li class="listTasks">
              <div class="taskCheckbox">
                <input type="checkbox" class="checkbox" id="check<%=item._id%>"/>
                <p class="strikethrough" id="name<%=item._id%>"><%= item.name %></p>
              </div>
              <div class="dltEditBtns">

                <form action="/deleteTask" method="post" class="dlt-form">
                <input type="hidden" name="task" value="<%= item._id %>" />
                <input type="submit" name="delete" class="deleteBtn" value="&#10006;" id="delete<%=item._id%>"/>
                <input type="hidden" name="listName" value="<%= title %>"/>
                </form>

                <form action="/editTask" method="post" class="edit-task">
                  <input type="hidden" name="listName" value="<%= title %>"/>
                  <input type="hidden" name="taskId" value="<%= item._id %>" />
                  <input id="input<%= item._id %>" type="text" name="editedTask" class="editInput" value="<%= item.name %>" 
                    autocomplete="off" autofocus="true" hidden="true"/>
                  <button id="done<%=item._id%>" class="editDoneBtn" type="submit" hidden="true">&#10004;</button>
                </form>
                <button class="editBtn" id="edit<%=item._id%>" onclick="handler('<%=item._id%>')">&#x270E;</button>

              </div>

              <% }}); %> <% } %> 
            </li>
          </div>
        <form action="/addTask" method="POST" id="addForm" autocomplete="off" class="addTaskForm">
          <input type="text" name="task" id="task" class="addTaskInput" placeholder="Add New Task" autofocus="true" required/>
          <input type="hidden" name="listName" value="<%= title %>"/>
          <button type="submit" name="list" id="addButton" class="addTaskBtn">+</button>
        </form>
    </div>
    <div class="listss">
      <h2 class="yrLists">Your Lists</h2>
      <% if(lists.length===0) { %>
        <div class="customListsContainer">
          <p class="noLists">No Custom Lists!</p>
        </div>
      <% } else { %>
        <div class="customListsContainer">
          <% lists.forEach(function(listName){ %>
              <form action="/deleteNewList" method="POST" class="customListsForm">
                  <a href="/<%= listName.name %>" class="customLists"><%= listName.name %></a>
                  <input type="hidden" name="listId" value="<%= listName._id %>" />
                  <input type="hidden" name="listName" value="<%= listName.name %>"/>
                  <input type="submit" name="delete" class="deleteBtn" value="&#10006;" id="delete<%=listName._id%>"/>
              </form>
          <% });} %>
        </div>
    </div>
  </div>
  <script>
    function handler(id) {
      document.getElementById("name" + id).style.display = "none";
      document.getElementById("edit" + id).setAttribute("hidden", true);
      document.getElementById("delete" + id).setAttribute("hidden", true);
      document.getElementById("check" + id).setAttribute("hidden", true);
      document.getElementById("done" + id).removeAttribute("hidden");
      document.getElementById("input" + id).removeAttribute("hidden");
    }
  </script>
</div>
  <div class="footerCont">
    <%- include("partials/footer.ejs") %>
  </div>

